@layer n23Picture {
	.picture {
		display: block;

		&.border {
			border: 2px solid black;
			box-sizing: border-box;
		}

		& img {
			opacity: 0;
			transition: opacity 250ms ease-in-out;
			display: grid;
			width: 100%;
			height: auto;
		}

		&.loaded img {
			opacity: 1;
		}
	}
}
