/* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */

@layer n23Grid {
	.gridContainer {
		display: flex;
		column-gap: var(--n23-fg-c);
		row-gap: var(--n23-fg-r);
		flex-wrap: wrap;
	}

	.gridContainerChild {
		width: calc(
			(100% / var(--n23-flex-col)) -
				(((var(--n23-flex-col) - 1) / var(--n23-flex-col)) * var(--n23-fg-c))
		);
	}

	/* breakpoints */
	@media (max-width: 767.98px) {
		.gridContainerChild {
			--n23-flex-col: var(--n23-fc-m);
		}
	}

	@media (min-width: 768px) and (max-width: 1199.98px) {
		.gridContainerChild {
			--n23-flex-col: var(--n23-fc-t);
		}
	}

	@media (min-width: 1200px) and (max-width: 1599.98px) {
		.gridContainerChild {
			--n23-flex-col: var(--n23-fc-sd);
		}
	}

	@media (min-width: 1600px) {
		.gridContainerChild {
			--n23-flex-col: var(--n23-fc-d);
		}
	}
}
