@layer n23AsideMenu {
	.asideMenuWrapper {
		width: 400px;
		height: 100vh;

		@media (max-width: 1199.98px) {
			display: none;
		}
	}

	.asideMenu {
		box-sizing: border-box;
		width: 400px;
		background-color: var(--n23-color-primary);
		font-family: var(--n23-font-family);
		box-shadow: var(--n23-shadow);
		height: 100vh;
		padding: 50px;
		overflow: auto;
		position: fixed;
		border-right: 3px solid var(--n23-color-font);

		/* hide scrollbar */
		scrollbar-width: none;
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}

		@media (max-width: 1199.98px) {
			display: none;
		}

		& ul {
			all: unset;
			list-style-type: none;
		}

		& ul li {
			font-size: var(--n23-font-size-big);
			font-weight: var(--n23-font-weight-bold);
			border-bottom: 1px solid var(--n23-color-font-asideMenu);
			margin-bottom: 20px;
			padding-bottom: 20px;
			transition: 0.2s;

			& a {
				all: unset;
				cursor: pointer;
				color: var(--n23-color-font-asideMenu);
				display: inline-block;
				width: 100%;

				@media (hover: hover) and (pointer: fine) {
					&:hover {
						filter: brightness(125%);
					}
				}

				&:active {
					background-color: var(--n23-color-primary);
					filter: brightness(100%);
				}

				&:focus-visible {
					outline: 2px solid var(--n23-color-on-primary);
					filter: brightness(100%);
				}
			}
		}

		& ul li:last-child {
			margin-bottom: 100px;
		}
	}

	.asideMenuMobile {
		display: none;
		box-sizing: border-box;
		width: 100vw;
		background-color: var(--n23-color-on-secondary);
		font-family: var(--n23-font-family);
		height: 100vh;
		padding: 100px 20px 150px 20px;
		overflow: auto;
		position: fixed;
		z-index: 8;

		@media (min-width: 576px) {
			padding: 100px 50px 150px 50px;
		}

		& ul {
			all: unset;
			list-style-type: none;
		}

		& ul li {
			text-align: left;
			font-size: var(--n23-font-size-big);
			font-weight: var(--n23-font-weight-normal);
			margin-bottom: 10px;
			padding-bottom: 10px;
			transition: 0.2s;

			& a {
				all: unset;
				cursor: pointer;
				color: var(--n23-color-font-asideMenu);
				display: inline-block;
				width: 100%;

				&:active {
					filter: brightness(85%);
				}

				&:focus-visible {
					filter: brightness(100%);
				}
			}
		}

		& ul li:last-child {
			margin-bottom: 100px;
		}
	}

	@media (max-width: 1199.98px) {
		.asideMenuMobile.open {
			display: block;
		}
	}

	.asideMenuMobileButton {
		display: none;
		position: fixed;
		z-index: 9;
		left: calc(100% - 116px);
		right: 0;
		bottom: 40px;

		@media (max-width: 1199.98px) {
			& {
				display: block;
			}
		}
	}

	.menuOpen {
		overflow: hidden;
	}

	.asideMenuTitle {
		font-family: var(--n23-font-family);
		font-size: var(--n23-font-size-bigger);
		font-weight: var(--n23-font-weight-bold);
		color: var(--n23-color-font-asideMenu);
		margin-bottom: 40px;
		letter-spacing: 4px;
		text-transform: uppercase;
		letter-spacing: 10px;
		word-spacing: 8px;
	}
}
