@layer n23Marquee {
	.marquee {
		height: var(--n23-marquee-height);
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		display: flex;
	}
/*
	.marquee:after {
		content: '';
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
		z-index: 2;

		background-image:
			linear-gradient(to right, white, rgba(157, 158, 158, 0) 150px),
			linear-gradient(to left , white, rgba(157, 158, 158, 0) 150px);
	} */

	.marquee:hover .track {
		animation-play-state: paused;
	}

	.track {
		display: flex;
		animation: var(--n23-marquee-speed) slide infinite linear;

		& > * {
			margin-right: var(--n23-marquee-gap);
			flex-shrink: 0;
		}
	}

	@keyframes slide {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}
}
