@layer n23ContainerMain {
	.n23main {
		padding: 0 100px;

		@media (max-width: 1199.98px) {
			padding: 0 35px;
		}
	}
}

@layer n23ContainerHomeContent {
	.n23homeContent {
		padding: 125px 0 100px;

		@media (max-width: 575.98px) {
			padding: 30px 0 150px;
		}
	}
}

@layer n23ContainerSection {
	.n23section {
		margin-bottom: 150px;
		padding: 40px 100px 0 100px;

		font-weight: var(--n23-font-weight-normal);
		font-family: var(--n23-font-family);

		@media (max-width: 1199.98px) {
			padding: 50px 35px 0 35px;
		}
	}
}

@layer n23ContainerNav {
	.n23nav {
		padding: 40px 100px 0 100px;

		font-weight: var(--n23-font-weight-normal);
		font-family: var(--n23-font-family);

		@media (max-width: 1199.98px) {
			padding: 50px 35px 0 35px;
		}
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}
