@layer n23Footer {
	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		position: relative;

		/* special for asideMenu */
		overflow-x: hidden;
	}

	.footerPush {
		padding-bottom: 140px;
	}

	.footerContainer {
		position: absolute;
		bottom: 0;
	}

	.footerContent {
		box-sizing: border-box;
		min-width: 230px;
		padding-bottom: 30px;
	}
}
