@layer n23Footer {
	html {
		height: 100%;
	}

	body {
		min-height: 100%;
		position: relative;

		/* special for asideMenu */
		overflow-x: hidden;
	}

	.footerPush {
		padding-bottom: 140px;
	}

	.footerContainer {
		position: absolute;
		bottom: 0;
	}

	.footerContent {
		box-sizing: border-box;
		min-width: max-content;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 35px;

		@media (max-width: 767.98px) {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}
