@layer input {
	.inputWrapper {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.inputLabel {
		font-size: var(--n23-font-size-semi-small);
		font-family: var(--n23-font-family);
		font-weight: var(--n23-font-weight-semi-bold);
		color: var(--n23-color-font);
		line-height: 22px;
	}

	.inputInput {
		& input {
			box-sizing: border-box;
			height: 40px;
			padding: 20px 10px;
			color: var(--n23-color-font);
			font-family: var(--n23-font-family);
			font-weight: var(--n23-font-weight-normal);
			font-size: var(--n23-font-size-normal);
			width: 100%;
		}

		& ::placeholder {
			filter: brightness(150%);
			font-weight: var(--n23-font-weight-thin);
		}
	}

	.inputError {
			font-size: var(--n23-font-size-small);
			font-family: var(--n23-font-family);
			font-weight: var(--n23-font-weight-normal);
			line-height: 1;
			margin: 2px;
			color: var(--n23-color-error);
		}
}
