/* https://fluidtypography.com/ */

/* 400 - 1920 */
@layer n23Text {
	.shared {
		text-wrap: balance;
		max-width: 900px;
		padding: 0;
		margin: 0;
	}
	p.pSubTitleText {
		font-weight: var(--n23-font-weight-bold);
		font-family: var(--n23-font-family);
		color: var(--n23-color-primary);
		font-size: clamp(1.75rem, 0.93vw + 1.509rem, 2.625rem);
		line-height: clamp(1.925rem, 1.58vw + 1.516rem, 3.413rem);

	}

	p.pSmallBoldText {
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-bold);
		font-size: clamp(0.75rem, 0.197vw + 0.701rem, 0.938rem);
		line-height: clamp(0.825rem, 0.414vw + 0.721rem, 1.219rem);
		margin-bottom: 8px;
	}

	/* 12 - 15 */
	/* 1.1 - 1.3 */
	p.pSmallText {
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-thin);
		font-size: clamp(0.75rem, 0.197vw + 0.701rem, 0.938rem);
		line-height: clamp(0.825rem, 0.414vw + 0.721rem, 1.219rem);
		margin-bottom: 8px;
	}

	p.pText {
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-thin);
		font-size: clamp(1.125rem, 0.664vw + 0.953rem, 1.75rem);
		line-height: clamp(1.688rem, 0.624vw + 1.526rem, 2.275rem);
		margin-bottom: 10px;
	}

	/* 80 - 100 */
	/* 1.1 - 1.3 */
	h1.h1Text {
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-bold);
		font-size: clamp(5rem, 1.316vw + 4.671rem, 6.25rem);
		line-height: clamp(6.5rem, 0.395vw + 6.401rem, 6.875rem);
		margin-bottom: 15px;
	}

	h2.h2Text {
		/* 60 - 80 */
		/* 1.1 - 1.3 */
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-bold);
		font-size: clamp(3.75rem, 1.316vw + 3.421rem, 5rem);
		line-height: clamp(4.875rem, 0.658vw + 4.711rem, 5.5rem);
		margin-bottom: 12px;
	}

	/* 35 - 60 */
	/* 1.1 - 1.3 */
	h3.h3Text {
		font-family: var(--n23-font-family);
		color: var(--n23-color-font);
		font-weight: var(--n23-font-weight-bold);
		font-size: clamp(2.188rem, 1.645vw + 1.776rem, 3.75rem);
		line-height: clamp(2.844rem, 1.349vw + 2.507rem, 4.125rem);
		margin-bottom: 13px;
	}
}
